@charset "UTF-8";
/* colors */
/* fonts */
/* backgrounds */
/* MAP */
/* EACH (obligatorio) */
key1-card {
  background-image: url("../recursos/league-of-legends.jpg"); }

key2-card {
  background-image: url("../recursos/csgo.jpg"); }

key3-card {
  background-image: url("../recursos/battlefield.jpg"); }

key4-card {
  background-image: url("../recursos/cod.png"); }

key5-card {
  background-image: url("../recursos/free_fire.jpg"); }

key6-card {
  background-image: url("../recursos/mobile_legends.jpg"); }

key7-card {
  background-image: url("../recursos/rainbow_six.jpg"); }

.header__img:hover {
  transform: scale(1.2); }

.header__nav {
  background-color: rgba(58, 25, 69, 0.693); }

/* tablet */
@media (min-width: 541px) and (max-width: 720px) {
  .heading {
    font-size: 1rem;
    display: flex;
    text-align: center; }
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .section .section__p {
      font-size: 1rem;
      width: 600px; }
    .section .section__imagen {
      width: 20rem;
      height: 15rem; }
    .section .section__video {
      width: 600px;
      height: 400px; } }

/* celular   */
@media (max-width: 540px) {
  .heading {
    font-size: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center; }
  .subheading {
    margin: 1rem; }
  .section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .section .section__p {
      font-size: 0.9rem;
      width: 400px; }
    .section .section__imagen {
      width: 20rem;
      height: 15rem; }
    .section .section__video {
      width: 400px;
      height: 250px; } }

* {
  margin: 0;
  padding: 0; }

.heading {
  font-size: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  background-color: #7e2ccc;
  align-items: center;
  justify-content: center;
  color: #f8f7f7;
  padding: 0.25rem; }

.subheading {
  font-size: 1.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  background-color: #7e2ccc;
  align-items: center;
  justify-content: center;
  color: #f8f7f7; }

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly; }
  .section__p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    color: #f8f7f7;
    background-color: rgba(58, 25, 69, 0.693);
    margin-top: 1.5rem;
    font-size: 1.5rem;
    width: 700px;
    padding: 1.5rem;
    border: solid;
    border-color: black;
    box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2); }
  .section__p--selector::selection {
    background-color: blueviolet;
    color: #f8f7f7; }
  .section__imagen {
    padding: 3rem; }
  .section__video {
    padding: 1.5rem;
    width: 860px;
    height: 515px; }

.card {
  color: #f8f7f7;
  background-color: rgba(58, 25, 69, 0.693);
  border: solid;
  border-style: groove;
  border-color: white; }

.card__div:hover {
  transform: scale(1.1); }

.card__btn--color {
  color: #f8f7f7;
  background-color: rgba(73, 33, 138, 0.795); }

.grid__imagen {
  background-color: rgba(3, 0, 5, 0.274); }

.grid__text--bold {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: bold;
  color: #f8f7f7;
  font-size: 1.5rem; }

.grid__imagen--tamaño {
  display: flex;
  justify-content: center;
  align-items: center; }

.grid__text {
  font-size: large;
  background-color: #7e2ccc;
  color: #f8f7f7;
  display: flex;
  border-color: black;
  border-radius: 5px;
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem; }
  .grid__text--arreglos {
    margin-top: 5rem; }

.boton--width {
  width: 15rem; }

.boton__footer:hover {
  background-color: rgba(231, 89, 247, 0.642); }

body {
  background: #9b0895;
  background: linear-gradient(141deg, #9b0895 0%, #b285ce 46%, #723498 100%);
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

footer strong {
  color: #c83ffe; }

footer h5 {
  color: #c83ffe; }
