@import 'variables';
@import 'header';
@import 'sasscript';
@import 'mediaqueries';

* {
	margin: 0;
	padding: 0;
}

.heading {
	font-size: 3rem;
	font-family: $font-principal;
	display: flex;
	background-color: $color-secundario;
	align-items: center;
	justify-content: center;
	color: $color-font-principal;
	padding: 0.25rem;
}

.subheading {
	font-size: 1.75rem;
	font-family: $font-principal;
	display: flex;
	background-color: $color-secundario;
	align-items: center;
	justify-content: center;
	color: $color-font-principal;
}

.section{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	&__p{
		font-family: $font-principal;
		color: $color-font-principal;
		background-color: $bg-box-color-principal;
		margin-top: 1.5rem;
		font-size: 1.5rem;
		width: 700px;
		padding: 1.5rem;
		border: solid;
		border-color: $color-border-b;
		box-shadow: 0px 24px 38px 3px rgba(0, 0, 0, 0.14),
		0px 9px 46px 8px rgba(0, 0, 0, 0.12), 0px 11px 15px -7px rgba(0, 0, 0, 0.2);
	}
	&__p--selector::selection{
		background-color: $color-secundario;
		color: $color-font-principal;
	}
	&__imagen {
		padding: 1rem;
	}
	&__video {
		padding: 1.5rem;
		@include width-height(860px, 515px)
	}
}
	
.card{
	&{
		color: $color-font-principal;
		background-color: $bg-box-color-principal;
		border: solid;
		border-style:groove;
		border-color: $color-border-a;}
	&__div:hover{
		transform: scale(1.1);
	}
	&__btn--color{
	color: $color-font-principal;
	background-color: rgba(73, 33, 138, 0.795);
	}
}
.grid{
	&__imagen{	
	background-color: $bg-box-color-claro;
	}
	&__text--bold{
	font-family: $font-principal;
	font-weight: bold;
	color: $color-font-principal;
	font-size: 1.5rem;
	}
}

.grid{
	&__imagen--tamaño{
	display: flex;
	justify-content: center;
	align-items: center;}
	&__text {
		font-size: large;
		background-color: $color-secundario;
		color: $color-font-principal;
		display: flex;
		border-color: $color-border-b;
		border-radius: 5px;
		width: 100%;
		padding: 0.5rem;
		margin-top: 0.5rem;
		&--arreglos{
			margin-top: 5rem;
		}
	}	
}
.boton{
	&--width{
	width: 15rem;
	}
	&__footer:hover{
		background-color: rgba(231, 89, 247, 0.642);
	}	
}

body {
	background: $color-body;
	background: linear-gradient(141deg, rgba(155,8,149,1) 0%, rgba(178,133,206,1) 46%, rgba(114,52,152,1) 100%);	
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

footer{
	strong{
		color: $color-principal;
	}
	h3 {
		color: $color-principal;
	}
}
